<nb-layout class="container">
  <nb-layout-header fixed>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <img src="assets/imgs/ezy-event-logo.png" class="img-fluid" height="80" width="80" alt="logo">
        </div>
        <div class="col-10 d-flex justify-content-end">
          <nb-actions class="justify-content-end">
            <nb-action>Music</nb-action>
            <nb-action>Festival</nb-action>
            <nb-action>Sports</nb-action>
            <nb-action>Kids</nb-action>
          </nb-actions>

          <nb-form-field>
            <input type="text" nbInput fullWidth shape="round">
            <button nbSuffix nbButton ghost>
              <nb-icon icon="search-outline"></nb-icon>
            </button>
          </nb-form-field>

          <nb-user style="margin-left: 1em !important;" *ngIf="isLoggedIn" picture="assets/imgs/me.jpeg"
                   name=""></nb-user>
        </div>
      </div>
    </div>
  </nb-layout-header>


  <nb-layout-column>

    <div class="container">

      <div class="row rounder position relative">
        <img class="z-0 banner banner-gradient text-center "
             src="https://firebasestorage.googleapis.com/v0/b/ezyevents.appspot.com/o/1920-abstract-shapes-in-vibrant-colors-and-patterns.jpg?alt=media&token=4f9936ad-1d94-413d-903c-73a720359eca"
             alt="">
        <div class="p-5 col-12 col-md-4 z-1 banner-text position-absolute">
          <h4>Best events in </h4>
          <h2>{{ location }}</h2>
          <p>
            Looking for something to do in {{ location }}? Whether you're a local, new in town or just cruising through we've
            got loads of great tips and events. You can explore by location, what's popular, our top picks, free
            stuff... you got this. Ready?
          </p>
          <div class="d-flex">
            <nb-form-field>
              <nb-icon icon="navigation-2-outline" nbPrefix></nb-icon>
              <button nbSuffix nbButton ghost shape="round">
                <nb-icon icon="close-outline"></nb-icon>
              </button>
              <input type="text" placeholder="{{ location }}, {{ state }}" nbInput shape="round">
            </nb-form-field>

            <button nbButton status="primary" shape="round" (click)="openMapView()"><nb-icon icon="map-outline"></nb-icon></button>
          </div>
        </div>

      </div>


      <div>
        <h4 class="mt-4 mb-4">Popular event in {{ location }}</h4>
      </div>

      <!--end-of-up-coming-event-->
      <!-- events card-->
      <div class="row">
        <div class="col-12 col-md-3" *ngFor="let event of events ">
          <nb-card (click)="openEvent(event)">
            <nb-card-body>
              <div class="position-relative">
                <nb-tag class="z-1 position-absolute m-2" text="{{ event.category.name }}" size="tiny"></nb-tag>
                <img [src]="event.banner" class="banner thumbnail position-sticky" alt=""/>
              </div>
              <div>
                  <h6> {{ event.name }} </h6>
                  <p>{{ event.date | date : 'MMM d, y, h:mm a' }}</p>
              </div>
              <p class="location text-muted">
                <nb-icon icon="pin-outline"></nb-icon>
                {{ event.locationName }}
              </p>
            </nb-card-body>

          </nb-card>
        </div>
      </div>
      <!--end of events card-->


      <div class="container">
        <ng-template #eventModal>

          <div class="modal-container">
            <img [src]="eventObject?.banner" class="banner position-sticky">
            <h2 class="mt-4 mb-4"> {{ eventObject?.name }}</h2>

            <div class="row">
              <div class="col-sm-8 ">
                <div class="event-card">
                  <div>
                    <div class="event-date">
                      <h6 class="text-white mb-0 mt-1">{{ eventObject?.date | date : 'd' }}</h6>
                      <p class="text-white mb-1 "> {{ eventObject?.date | date: 'MMM' }} </p>
                    </div>
                  </div>
                  <div>
                    <h6 class="location mb-2">
                      <nb-icon icon="pin-outline"></nb-icon>
                      {{ eventObject?.locationName }}
                    </h6>
                    <nb-tag text="{{ eventObject?.category?.name }}" size="tiny"></nb-tag>
                  </div>

                </div>
                <h6 class="location mb-2">About Event</h6>
                <p>{{ eventObject?.details }}</p>
              </div>

              <div class="col-sm-4">
                <nb-card>
                  <nb-card-body class="text-center">
                    <p class="mb-2">Free</p>
                    <button nbButton status="primary" fullWidth>Register</button>
                  </nb-card-body>
                </nb-card>
                <h6>Attendees</h6>
                <nb-list class="attendees">
                  <nb-list-item *ngFor="let attendee of attendees">
                    <nb-user [picture]="attendee.picture.medium"
                             name="{{ attendee.name.first }} {{ attendee.name.last }}"></nb-user>
                  </nb-list-item>
                </nb-list>
              </div>

            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>


<div class="container">
  <ng-template #eventMap>
    <div [nbSpinner]="isMap" class="rounded banner map" id="map"></div>
  </ng-template>
</div>
