
<nb-layout class="container">
  <nb-layout-header fixed>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <img src="assets/imgs/ezy-event-logo.png" class="img-fluid" height="80" width="80" alt="logo">
        </div>
        <div class="col-10 d-flex justify-content-end">
          <nb-actions class="justify-content-end">
            <nb-action>Music</nb-action>
            <nb-action>Festival</nb-action>
            <nb-action>Sports</nb-action>
            <nb-action>Kids</nb-action>
          </nb-actions>

          <nb-form-field >
            <input type="text" nbInput fullWidth shape="round">
            <button nbSuffix nbButton ghost>
              <nb-icon icon="search-outline"></nb-icon>
            </button>
          </nb-form-field>

          <nb-user style="margin-left: 1em !important;" *ngIf="isLoggedIn" picture="assets/imgs/me.jpeg" name=""></nb-user>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <div class="container">
      <div class="d-flex w-100 justify-content-between ">
        <h3 class="p-2">Upcoming Event
          <nb-icon icon="arrow-forward-outline"></nb-icon>
        </h3>

        <nb-form-field>
          <nb-icon icon="navigation-2-outline" nbPrefix></nb-icon>
          <button nbSuffix nbButton ghost shape="round">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
          <input type="text" placeholder="New York, US" nbInput fullWidth shape="round">

        </nb-form-field>
      </div>

      <div>
        <div class="row gx-2 event-list row flex-nowrap overflow-auto">
          <div *ngFor="let event of events " class="col-4">
            <nb-card (click)="openEvent(event)" class="h-100">
              <nb-card-body>
                <div class="event-card">
                  <div>
                    <div class="event-date">
                      <h6 class="text-white mb-0 mt-1">{{ event.date | date : 'd' }}</h6>
                      <p class="text-white mb-1 "> {{ event.date | date: 'MMM' }} </p>
                    </div>
                  </div>
                  <div>
                    <h6> {{ event.name }} </h6>
                    <nb-tag text="{{ event.eventType.name }}" size="tiny"></nb-tag>
                  </div>

                </div>
                <p class="location text-muted">
                  <nb-icon icon="pin-outline"></nb-icon>
                  {{ event.locationName }}
                </p>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <img src="assets/imgs/event.jpg" class="banner position-sticky">
      </div>

      <ng-template #eventModal>

        <div class="modal-container">
          <img [src]="eventObject?.banner" class="banner position-sticky">

          <h2 class="mt-4 mb-4"> {{ eventObject?.name }}</h2>

          <div class="row">
            <div class="col-sm-8 ">
              <div class="event-card">
                <div>
                  <div class="event-date">
                    <h6 class="text-white mb-0 mt-1">{{ eventObject?.date | date : 'd' }}</h6>
                    <p class="text-white mb-1 "> {{ eventObject?.date | date: 'MMM' }} </p>
                  </div>
                </div>
                <div>
                  <h6 class="location mb-2">
                    <nb-icon icon="pin-outline"></nb-icon>
                    {{ eventObject?.locationName }}
                  </h6>
                  <nb-tag text="{{ eventObject?.eventType?.name }}" size="tiny"></nb-tag>
                </div>

              </div>
              <h6 class="location mb-2">About Event</h6>
              <p>{{ eventObject?.details }}</p>
            </div>

            <div class="col-sm-4">
              <nb-card>
                <nb-card-body class="text-center">
                  <p class="mb-2">Free</p>
                  <button nbButton status="primary" fullWidth>Register</button>
                </nb-card-body>
              </nb-card>
              <h6>Attendees</h6>
              <nb-list class="attendees">
                <nb-list-item *ngFor="let attendee of attendees">
                  <nb-user [picture]="attendee.picture.medium"
                           name="{{ attendee.name.first }} {{ attendee.name.last }}"></nb-user>
                </nb-list-item>
              </nb-list>
            </div>

          </div>
        </div>
      </ng-template>
    </div>

  </nb-layout-column>
</nb-layout>
