<nb-layout>

  <nb-layout-header fixed>
    <div class=" w-100">
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2 d-flex justify-content-end">
          <nb-user name="Johnson" title="Software Engineer"></nb-user>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>


    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-9 rounded">
         <nb-card [nbSpinner]="isMap">
           <div class="map rounded mappy" id="map"></div>
         </nb-card>
        </div>

        <div class="col-sm-3 bg-white rounded" [nbSpinner]="isDataLoading">

          <nb-form-field class="mt-4">
            <input type="text" nbInput fullWidth>
            <button nbSuffix nbButton ghost >
              <nb-icon icon="search-outline"></nb-icon>
            </button>
          </nb-form-field>

          <h3 class="p-3">Upcoming Event
            <nb-icon icon="arrow-forward-outline"></nb-icon>
          </h3>
          <div class="row gx-2">
            <div  *ngFor="let event of events ">
              <nb-card (click)="clickEvent(event)">
                <nb-card-body>
                  <div class="event-card">
                    <div>
                      <div class="event-date">
                        <h6 class="text-white mb-0 mt-1">{{ event.date | date : 'd' }}</h6>
                        <p class="text-white mb-1 "> {{ event.date | date: 'MMM' }} </p>
                      </div>
                    </div>
                    <div>
                      <h6> {{ event.name }} </h6>
                      <nb-tag text="{{ event.type }}" size="tiny"></nb-tag>
                    </div>

                  </div>
                  <p class="location text-muted">
                    <nb-icon icon="pin-outline"></nb-icon>
                    {{ event.locationName }}
                  </p>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
      </div>


<!--      <div class="h-70 bg-white">-->
<!--        <div class="events-jumbo">-->
<!--            <h2> {{ eventObject.name }}</h2>-->

<!--            <p>-->
<!--              <nb-icon icon="clock-outline"></nb-icon>-->
<!--              <span class="mr-5">{{ eventObject.Day }} {{ eventObject.month }} at 11:00pm</span>-->
<!--              <nb-icon icon="pin-outline"></nb-icon>-->
<!--              <span class="mr-4">{{ eventObject.location }}</span>-->
<!--            </p>-->

<!--          </div>-->
<!--      </div>-->

    </div>
  </nb-layout-column>

</nb-layout>
